<div id="<%= dom_id friendapp %>">
  <p>
    <strong>First name:</strong>
    <%= friendapp.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friendapp.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friendapp.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friendapp.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friendapp.twitter %>
  </p>

</div>
